<ion-view view-title="{{currentGame.title}}" class="game">

  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-edit" data-toggle="modal" data-target="#editModal" data-backdrop="false">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- Modal -->
  <div id="editModal" class="modal fade" role="dialog" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Eidt Game</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" ng-model="currentGame.title">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Player 1</span>
            <input type="text" class="form-control" ng-model="currentGame.player1">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Player 2</span>
            <input type="text" class="form-control" ng-model="currentGame.player2">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Change</button>
        </div>
      </div>

    </div>
  </div>


  <ion-content has-bouncing="false" >
  </ion-content>
</ion-view>
