<ion-view view-title="{{currentGame.title}}" class="game">

  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-edit" data-toggle="modal" data-target="#editModal" data-backdrop="false">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <!-- Modal -->
  <div id="editModal" class="modal fade" role="dialog" >
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <span>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true" class=>&times;</span></button>
            <h4 class="modal-title">Edit</h4>
          </span>

        </div>
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" ng-model="currentGame.title">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Player 1</span>
            <input type="text" class="form-control" ng-model="currentGame.player1">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Player 2</span>
            <input type="text" class="form-control" ng-model="currentGame.player2">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Change</button>
        </div>
      </div>
    </div>
  </div>

  <ion-content has-bouncing="false" >
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>
            {{currentGame.player1}}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="button button-icon icon ion-minus-round center assertive" ng-click="subPoint1()">
          </button>
        </div>
        <div class="col-xs-6 text-center positive">
          <h2>
            {{currentGame.player1Score}}
          </h2>
        </div>
        <div class="col-xs-3">
          <button class="button button-icon icon ion-plus-round center balanced" ng-click="addPoint1()">
          </button>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-xs-12 text-center ">
          <h1>
            {{currentGame.player2}}
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button class="button button-icon icon ion-minus-round center assertive" ng-click="subPoint2()">
          </button>
        </div>
        <div class="col-xs-6 text-center positive">
          <h2>
            {{currentGame.player2Score}}
          </h2>
        </div>
        <div class="col-xs-3">
          <button class="button button-icon icon ion-plus-round center balanced" ng-click="addPoint2()">
          </button>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
