<ion-view view-title="Score Tracker">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-minus-round" ng-click="changeDelete()">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-plus-round" ng-click="addGame()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false">
    <ion-list show-delete="isDelete">
      <ion-item ng-repeat="game in games track by $index" href="#/scoretracker/game/{{game.id}}" ng-click="setCurrentGame(game)">
        {{game.title}}
        <ion-delete-button class="ion-minus-circled" ng-click="deleteGame(game)"></ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
