@import "../lib/bootstrap/stylesheets/bootstrap";

$xs-only: "(max-width: 767px)";
$small-only: "(min-width:768px) and (max-width:991px)";
$medium-only: "(min-width:992px) and (max-width:1199px)";
$large-only: "(min-width:1200px)";

.game{
  #editModal{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    .input-group{
      margin: 25px 0px 25px 0px;
      width:100%;
      .input-group-addon{
        width:20%;
      }
      .form-control{
        padding-left:5px;
        border: 1px solid #918E8E;
      }
    }
    .close{
      font-size: 30px;
    }
  }
  .center{
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  h2{
    font-size: 100px;
  }
  hr{
    border-top: 1px solid black;
  }
  .container{
    margin-top: 25px;
  }
  @media #{$xs-only}{
    h2{
      font-size: 75px;
    }
  }
  .header-item{
    text-align: center !important;
  }
}

.menuScreen{
  .header-item{
    font-size: 25px;
    text-align: center !important;
  }

  @media #{$xs-only}{
    h1{
      font-size: 20px;
    }
    h2{
      font-size: 80px;
    }
  }
  .ion-plus-round{
    color:#33cd5f !important;
  }
  .ion-minus-round{
    color: #ef473a !important;
  }
  .item{
    border-color:grey;
  }
}
